<html>
    <head>
        <title> Video Streaming App</title>
        <link rel="stylesheet" href="/public/vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/public/css/blog-post.css">
        <link rel="stylesheet" href="/public/css/modern-business.css">
        <link rel="stylesheet" href="/public/css/simple-sidebar.css">
        <link rel="stylesheet" href="/public/font-awesome/css/font-awesome.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a href="/" class="navbar-brand">
                    Video Streaming
                </a>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">

                        <% if(typeof isLogIn !=="undefined" && isLogIn){%>

                            <li class="nav-item">
                                <a href="/upload" class="nav-link">
                                   Upload Video
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/logout" class="nav-link">
                                    Log Out
                                </a>
                            </li>
                            <% } else {%>
                                <li class="nav-item">
                                    <a href="/login" class="nav-link">
                                        Login
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/signup" class="nav-link">
                                        SignUp
                                    </a>
                                </li>
                                <%}%>
                       
                    </ul>
                </div>
            </div>
        </nav>
        <div class="d-flex" id="wrapper">
   